.CityQuestion {
    background-color: #004274;
    width: 100%;
    height: 480px;
    z-index: 4;
    margin-top: -8px;
    border-radius: 20px;
}
.backgroundImg {
    width: 100%;
    display: flex;
    justify-content: center;
}
.backgroundImg img {
    width: 90%;
    border-radius: 20px;
}
.cities {
    position: absolute;
}