.div_HomeDoctors {
    width: 70%;
}
.HomeDoctors {
    background-color: #004274;
    display: flex;
    height: 414px;
    border-radius: 20px;
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25) !important;
    font-family: 'Inter';
    position: relative;
    display: flex;
    justify-content: center;
}
.homeDoctors_link {
    position: absolute;
    width: 130px;
    height: 40px;
    top: 0px;
    margin-top: 30px;
}
.HomeDoctors h1 {
    font-size: 30px;
    font-weight: 400;
    color: white;
}
.div_PrincipalImg {
    width: 25%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.div_PrincipalImg_ {
    width: 90%;
    height: 90%;
    border-radius: 20px;
    display: flex;
}
.div_PrincipalImg_ img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    margin-right: 20px;
}
.principal_Action {
    position: absolute;
    bottom: 30px;
}
.sliderContainer_doctors {
    display: flex;
    align-items: center;
    width: 75%;
}
.slider_doctors {
    text-align: center;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.grid_CardHomeDoctors {
    margin: 0 20px !important;
}
.grid_CardHomeDoctors a {
    text-decoration: none;
}

/*Hovers*/
.homeDoctors_link h1:hover {
    text-decoration-line: underline;
}

@media screen and (max-width: 1600px) {
    .div_HomeDoctors {
      width: 80%;
    }
    .div_PrincipalImg {
        width: 30%;
    }
    .sliderContainer_doctors {
        width: 70%;
    }
}
@media screen and (max-width: 1400px) {
    .EUyiZ {
        width: 4000vw !important;
    }
}
@media screen and (max-width: 1250px) {
    .div_HomeDoctors {
      width: 90%;
    }
}
@media screen and (max-width: 1100px) {
    .div_HomeDoctors {
      width: 100%;
    }
    .EUyiZ {
        width: 5000vw !important;
    }
}
@media screen and (max-width: 800px) {
    .EUyiZ {
        width: 6000vw !important;
    }
}
@media screen and (max-width: 750px) {
    .div_PrincipalImg {
        display: none;
    }
    .sliderContainer_doctors {
        width: 100%;
    }
    .EUyiZ {
        width: 7000vw !important;
    }
}
@media screen and (max-width: 720px) {
   .slider_doctors {
    width: 1500vw !important;
   }
   .HomeDoctors {
    margin-top: 0 !important;
   }
   .EUyiZ {
    width: 8000vw !important;
    }
}
@media screen and (max-width: 525px) {
    .EUyiZ {
        width: 9000vw !important;
    }
}
@media screen and (max-width: 480px) {
    .EUyiZ {
        width: 12000vw !important;
    }
}