.doctors_content {
    width: 95%;
    height: 1050px;
    display: flex;
    margin-top: -140px;
}
.doctors_filter {
    width: 20%;
    background-color: #004274;
    border-radius: 20px;
    color: white;
    padding: 30px 20px;
}
.doctorsFilter_input {
    width: 100%;
    text-align: center;
}
.doctorsFilter_input input {
    width: 100%;
    height: 60px;
    border: none;
    border-radius: 10px;
    text-align: center;
}
.doctors_filter h2 {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 30px;
    margin-top: 30px;
}
.doctors_filter h3 {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 25px;
    margin-top: 20px;
}
.doctors_filter ul li {
    list-style: none;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 300;
    margin: 5px 0;
}
.doctorsList_starts {
    width: 100%;
    display: flex;
    margin: 10px 0;
}
.css-10r5to9-MuiCardActions-root {
    padding: 3px !important;
}
.doctorsList_heart {
    padding: 20px 0 0 0 !important;
}