.homeTurism {
  font-family: 'Inter';
  text-align: center;
  margin: 32px auto;
  width: 70%;
}
.homeTurism a {
  color: black;
}
.homeTurism h1 {
  font-size: 30px;
  font-weight: 400;
}

.slider {
  display: flex;
}
.Grid_homeTurism {
  justify-content: center;
}
.homeTurism_title {
  display: block !important;
}
.grid_cardHomeTurism {
  margin: 10px 20px !important;
}

@media screen and (max-width: 1600px) {
  .homeTurism {
    width: 80%;
  }
}

@media screen and (max-width: 1500px) {
  .slider {
    width: 120vw !important;
  }
}

@media screen and (max-width: 1250px) {
  .homeTurism {
    width: 90%;
  }
  .slider {
    width: 140vw !important;
  }
}

@media screen and (max-width: 1100px) {
  .homeTurism {
    width: 100% !important;
  }
}

@media screen and (max-width: 1000px) {
  .slider {
    width: 220vw !important;
  }
}



@media screen and (max-width: 500px) {
  .homeTurism {
    margin-bottom: 0;
  }
  .div_homeTurism {
    margin: 20px 8px !important;
  }
  .slider {
    width: 360vw !important;
  }
}